.text-editor {
    color: $white;
    padding: _rem(50) 0 _rem(60);
    overflow-x: hidden;
    @media only screen and (min-width: 768px) {
        padding: _rem(50) 0 _rem(100);
    }
    &__content {
        .h_1, .h_2, .h_3 {
            margin-bottom: _rem(30);
        }
        ul {
            margin: _rem(30) 0 _rem(30) _rem(30);
            li {
                list-style-type: disc;
                @extend %p;
                line-height: 120%;
            }
        }
        a {
            text-decoration: underline;
        } 
    }
    .btn {
        color: $yellow;
        margin-top: _rem(45);
        display: block;
    }
}